.slider * {
  color: #000;
}
.slider-element {
  margin: 20px 10px;
  padding: 12px;
  border-radius: 0.5em;
  text-align: center;
  color: #000;
  text-decoration: none;
  display: inline-block;
  max-width: 360px;
  background: #fff; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fff 25%, #e8e8e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fff 25%,#e8e8e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fff 25%,#e8e8e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#e8e8e8',GradientType=1 );
  -webkit-box-shadow: 0 9px 30px 0 rgba(35,39,42,.1);
  -webkit-transform: translateY(0);
  box-shadow: 0 9px 30px 0 rgba(35,39,42,.1);
  -webkit-transition: all .2s cubic-bezier(.175,.885,.32,1.275);
  transition: all .2s cubic-bezier(.175,.885,.32,1.275);
}
.slider-element:hover {
  -webkit-box-shadow: 0 12px 30px 0 rgba(35,39,42,.1);
  box-shadow: 0 12px 30px 0 rgba(35,39,42,.1);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
}
.slider-element img {
  max-height: 100px;
  display: inline;
}
.slider-element h1 {
  font-size: 1.5rem;
  margin-top: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.slider-element p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.slider-element span {
  display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-top: 5px;
    margin-right: 5px;
}

.slider {
  margin: 10px auto 20px auto;
  width: 100%;
  -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
          animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-prev:before,
.slick-next:before {
  color: #fff;
}

.slick-prev,.slick-next {
  -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1400ms both;
	        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1400ms both;
}

.slick-slide {
  transition: all ease-in-out .3s;
}

.slick-track {
  padding-top: 10px;
}
@media (max-width: 1199px) {
  .slick-prev,.slick-next {
    display: none !important;
  }
}
