$bg-color: #CFD8DC;
$bg-dark-color: #90A4AE;
$bg-light-color: #ECEFF1;
$text-color: #37474F;

$font: 'Source Sans Pro', sans-serif;

.center {
	text-align: center;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: $font;
	color: $text-color;
}

header {
	background-color: $bg-color;
	padding: 4em 0;
	text-align: center;

	.languages {
		text-align: right;

		.language {
			text-transform: uppercase;
			padding: 0 4px;
			cursor: pointer;

			&.active {
				font-weight: 600;
			}
		}
	}

	.logo {
		display: inline-block;
		background-color: #FFF;
		height: 10em;
		border-radius: 50%;
		border: 4px solid #FFF;

		img {
			border-radius: 50%;
			width: 10em;
		}
	}

	h1 {
		font-size: 3rem;
	}
}

#projects:hover ~ hr {
	box-shadow: 0 0 $bg-color;
}

hr {
	width: 20em;
	border: 8px solid $bg-dark-color;
	border-radius: 8px;
	box-shadow: 4px 4px $bg-color;
	transition: box-shadow .25s ease-in-out;

	&:hover {
		box-shadow: 0 0 $bg-color;
	}
}

.projects {
	margin: 2em 20%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	justify-content: center;

	.loading {
		grid-column: 1 / span 3;
		text-align: center;
		font-weight: 600;
		font-size: 1.3rem;
	}

	.project {
		display: grid;
		grid-template-columns: 64px auto;
		grid-column-gap: 4px;
		align-items: center;
		background: linear-gradient(135deg, $bg-color, $bg-light-color);
		padding: 8px;
		border-radius: 8px;
		text-decoration: none;
		color: $text-color;
		transition: transform .25s ease-in-out;

		&:hover {
			transform: scale(1.05);
		}

		.icon {
			height: 64px;
			width: auto;
			justify-self: center;
		}

		.title {
			margin: 0;
		}

		.description {
			grid-column: 1 / span 2;
			display: block;
			display: -webkit-box;
			max-width: 400px;
			margin: 0;

			$font-size: 16px;
			$line-height: 1.4;
			$lines-to-show: 3;

			height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
			font-size: $font-size;
			line-height: $line-height;
			-webkit-line-clamp: $lines-to-show;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.tax {
			grid-column: 1 / span 2;
			justify-self: right;

			.category {
				background-color: #FFF;
				padding: 2px 8px;
				border-radius: 16px;
			}
		}
	}
}

.contact {
	margin: 0 20%;

	input,
	textarea {
		outline: 0;
		width: 100%;
		padding: 4px;
		font-family: $font;
		font-size: 1.5rem;
		box-sizing: border-box;
		border: none;
		border-bottom: 2px solid $bg-color;
		transition: border-bottom-color .25s ease-in-out;

		&:focus {
			border-bottom-color: $bg-dark-color;
		}

		&.half {
			width: calc(50% - 2px);

			// left
			&:nth-of-type(even) {
				float: right;
			}

			//right
			&:nth-of-type(odd) {
				float: left;
			}
		}
	}

	button {
		background-color: $bg-color;
		border: none;
		border-radius: 8px;
		float: right;
		padding: 12px 18px;
		font-size: 1.5rem;
		font-family: 'Source Sans Pro', sans-serif;
		color: $text-color;
		cursor: pointer;
		transition: all .25s ease-in-out;

		&:hover,
		&:focus {
			outline: 0;
			background-color: $bg-dark-color;
			color: #FFF;
		}
	}
}

.social {
	text-align: center;

	.fab {
		text-decoration: none;
		color: transparent;
		font-size: 0;
		border: 2px solid black;
		border-radius: 50%;
		padding: 8px;
		height: 32px;
		width: 32px;
		text-align: center;
		transition: border-color .25s ease-in-out;

		&:hover {
			border-color: $bg-dark-color;
		}

		&::before {
			font-size: 2rem;
			letter-spacing: normal;
			color: $text-color;
			transition: color .25s ease-in-out;
		}

		&:hover::before {
			color: $bg-dark-color;
		}
	}
}

.website {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 4px;
	grid-row-gap: 4px;
	margin: 0 15% 2em 15%;

	a {
		padding: 8px;
		border-radius: 8px;
		height: 6em;
		display: grid;
		font-size: 2rem;
		text-align: center;
		align-content: center;
		color: $text-color;
		text-decoration: none;
		font-weight: 600;
		transition: transform .25s ease-in-out;

		&:hover {
			transform: scale(1.05);
		}

		&:nth-child(1) {
			background: linear-gradient(135deg, #B6D5EA, #E5F7FF);
		}

		&:nth-child(2) {
			background: linear-gradient(135deg, #C3C3C3, #EEE);
		}
	}
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, .4);

	.content {
		position: relative;
		background-color: #FEFEFE;
		margin: 4em auto;
		width: 80%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
		-webkit-animation: zoom-in .5s;
		animation: zoom-in .5s;

		header,
		main,
		footer {
			padding: 1em;
		}

		footer .close {
			cursor: pointer;

			&::before {
				content: "\274C";
			}
		}
	}
}

footer {
	background-color: $bg-color;
	text-align: right;
	padding: 4px 20%;

	p {
		margin: 0;
	}

	.links {
		a {
			text-decoration: none;
			color: $text-color;

			&:not(:last-child)::after {
				content: " \2022";
			}
		}
	}
}

// Tablets
@media (max-width: 991.98px) {
	.projects {
		grid-template-columns: 1fr 1fr;

		.loading {
			grid-column: 1 / span 2;
		}
	}
}

// Landscape phones
@media (max-width: 768px) {
	.contact input.half {
		width: 100%;
		float: none;
	}

	.website {
		grid-template-columns: 1fr;
	}

	$edge: 10%;

	.projects,
	.social,
	.website {
		margin-left: $edge;
		margin-right: $edge;
	}

	footer {
		padding-left: $edge;
		padding-right: $edge;
	}
}

// Portrait phones
@media (max-width: 576px) {
	.projects {
		grid-template-columns: 1fr;

		.loading {
			grid-column: 1;
		}
	}

	$edge: 1em;

	.projects,
	.social,
	.website {
		margin-left: $edge;
		margin-right: $edge;
	}

	footer {
		padding-left: $edge;
		padding-right: $edge;
	}
}

@-webkit-keyframes zoom-in {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

@keyframes zoom-in {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}
