@import "elements.css";
@import "keyframes.css";

:root {
  --logo-size: 10em;
  --body-background: #293940;
  --container-background: #467365;
  --header-background: #2e4d43;
}

* {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin: 0;
}

body {
  background: #293940;
}

.links, footer {
  margin: 0 20%;
}

.links {
  text-align: right;
  font-family: 'Quicksand', sans-serif;
  padding: 4px;
}

.links a~a {
  border-left: 2px solid;
  padding: 3px;
}

.links a.active {
  color: #bbb;
  font-weight: 600;
}

.links a.disabled {
  cursor: not-allowed;
}

.container {
  background: var(--container-background);
  border-radius: 6px;
  margin: 6rem 20%;
  padding-bottom: 1em;
}

/*.container>* {
  position: relative;
  top: -40px;
}*/

.container header {
  background-color: var(--header-background);
  padding:  1em;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-align: center;
}

.container header .logo {
  display: inline-block;
  background-color: #fff;
  height: var(--logo-size);
  border-radius: 50%;
  border: 4px solid #fff;
  /* position: relative; */
  /* top: -40px; */
  margin-top: -80px;
  -webkit-animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.container header .logo img {
  width: var(--logo-size);
  border-radius: 50%;
}

.container header h1 {
  font-size: 2.75rem;
  font-family: 'Quicksand', sans-serif;
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 200ms both;
	        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 200ms both;
}

.container header h1 img {
  height: 24px;
  border: 4px solid var(--container-background);
}

.container header .lead {
  font-style: italic;
  font-family: 'Quicksand', sans-serif;
  color: #bbb;
}

.container .social {
  padding: 1em;
  text-align: center;
}

.container .social div {
  display: inline-block;
  background-color: #fff;
  padding: 8px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  -webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 400ms both;
  animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 400ms both;
  margin: 0 6px;
}

.container .social div a {
  color: var(--container-background);
  font-size: 2em;
  vertical-align: top;
  cursor: pointer;
}


.container .content {
  padding: 0 20%;
}

.container .greeting {
  font-size: 47px;
  font-weight: 300;
  display: inline-block;
  float: left;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 600ms both;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 600ms both;
  margin-right:  8px;
}

.container p, table {
  -webkit-animation: fade-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 600ms both;
	        animation: fade-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 600ms both;
}

.container hr {
  -webkit-animation: scale-up-hor-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 800ms both;
	        animation: scale-up-hor-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 800ms both;
  margin: 8px;
}

.container h2 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-style: italic;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}

.container h2:nth-child(1) {animation-delay: 1s;}
.container h2:nth-child(3) {animation-delay: 1.4s;}

input, textarea, button {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

form *:nth-child(1) {animation-delay: 1.6s}
form *:nth-child(2) {animation-delay: 1.7s}
form *:nth-child(3) {animation-delay: 1.8s}
form *:nth-child(6) {animation-delay: 1.9s}


footer {
  padding: 4px;
  text-align: right;
  opacity:  0.6;
}

footer .links {
  margin: 0;
}

footer a {
  padding: 3px;
}

footer a img {
  height: 10px;
  border: 2px solid var(--container-background);
  margin-right:  2px;
  transition: border-color 0.2s;
}

footer a:hover img {
  border-color: var(--header-background);
}

/* mobile */
@media (max-width: 599px) {
  .links, .container, footer {
    margin-left: 8px;
    margin-right: 8px;
  }

  .container .greeting {
    float: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .container .content {
    padding: 0 16px;
  }

  button {
    width: 100%;
  }

  .container .social div {
    padding: 12px;
    height: 36px;
    width: 36px;
  }

  .container .social div  a {
    font-size: 2em;
  }
}

/* tablet portrait */
@media (min-width: 600px) and (max-width: 899px) {
  .links, .container, footer {
    margin-left: 10%;
    margin-right: 10%;
  }

  .container .content {
    padding: 0 64px;
  }

  button {
    width: 100%;
  }

  .container .social div {
  padding:  16px;
    height: 38px;
    width: 38px;
}

  .container .social div  a {
    font-size: 2.5em;
  }
}

/* tablet landscape */
@media (min-width: 900px) and (max-width: 1199px) {
  .links, .container, footer {
    margin-left: 15%;
    margin-right: 15%;
  }

  .container .greeting {
  }

  .container .content {
    padding: 0 92px;
  }
}
